.home {
  /*align-content: center;
  align-items: center;*/

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*font-size: 12px;*/
}

.root {
  /*background-color: #7f8b93;*/
  background-color: #ececec;
  /*align-items: center;*/
}

.alert-display-yes {
  /*display: none;*/
  /*font-size: 180px;*/
}

.date-picker {
  margin: 20px;
  margin-left: 5px;

}


.alert-display-no {
  display: none; 
  /*font-size: 180px; */
}

.box-container {
  /*padding:30px;*/
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 40px;
  margin-left: 5px;
  height: 200px;
  /*border-style: outset;*/
  /*border: 3px;*/
  /*width: 450px;*/

  /*background-color: #ececec;*/
  /*border: px;*/
}

.site-page-nav {
  background: #98a1a8;
}

.site-page-title {
  /*border: 1px solid rgb(235, 237, 240);*/
  background-color: #374047;
  /*color: #fff;*/
  color: white;
  text-align: center;
  margin: 0;
  /*margin-bottom: 30px;*/
}

.navigation_buttons {
  background-color: #374047;
  align-content: center;
  margin: 0;
}

.site-page-head {
  margin: 0;
  margin-bottom: 30px;
}


/*.title-text {
  font
}
*/

/*.chart-container {
  margin: 20px;
}*/



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
